In [ ]:
#Create a new Jupyter notebook called DataScienceEcosystem.ipynb

#Note: The next item in the course will launch JupyterLite with an empty notebook with this name that 
   # you can use to complete rest of the Exercises. You can also use any other Jupyter notebook environment (e.g. Anaconda) 
    #that you prefer to complete the assignment.

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

List popular languages that Data Scientists use.
List commonly used libraries used by Data Scientists.
Comment on Data Science tools.

# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. VBA (Visual Basic for Applications)
5. Julia
6. JavaScript
7. Java
8. Scala
9. SAS
10. MATLAB
11. C/C++
12. Swift

# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:

NumPy
Keras
Pandas
PyTorch
SciPy
Scikit-Learn
TensorFlow
Matplotlib
Seaborn
Theano
openCV
Mahotas
Pillow
SimpleITK
Requests
Beautiful Soup
Selenium
ScraPy

# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)


Type of Data Science tool	Data Science Tools
    1. General-purpose Tools	•	MS Excel
    
    2. Cloud-based Tools	    •	BigML
                                •	Google Analytics
                                
   3. Multipurpose Tools        •	Apache Spark
                                •	Matlab
                                •	SAS
                                •	KNIME
                                •	Apache Flink
                                
   4. Programming Language-driven Tools	•	Python
                                        •	R Programming
                                        •	Jupyter Notebook
                                        •	MongoDB
                                        •	D3.js
                                        •	Julia
                                        
   5. Visualization Tools	            •	Tableau
                                        •	Matplotlib
                                        •	Minitab
                                        
   6. Machine Learning and NLP Tools    •	Scikit Learn
                                        •	TensorFlow
                                        •	RapidMiner
                                        •	DataRobot
                                        •	NLTK
                                        
   7. Big Data Tools	                •	Apache Hadoop

   8. Business Intelligence Tool	    •	Microsoft Power BI
                                        •	QlikView

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

#Add a line in this cell with H3 style heading with text like:

In [12]:
# Arithmetic operations
A = int(input("Enter the A value: "))
B = int(input("Enter the B value: "))
c=A+B
print("The sum of the two values is:", c)

Enter the A value: 345
Enter the B value: 52
The sum of the two values is: 397

In [14]:
# Arithmetic operations
A = int(input("Enter the A value: "))
B = int(input("Enter the B value: "))
C=A - B
print("The sub of the two values is:", C)

Enter the A value: 23
Enter the B value: 679
The sub of the two values is: -656

In [15]:
# Arithmetic operations
A = int(input("Enter the A value: "))
B = int(input("Enter the B value: "))
C=A * B
print("The product of the two values is:", C)

Enter the A value: 35
Enter the B value: 969
The product of the two values is: 33915

In [16]:
# Arithmetic operations
A = int(input("Enter the A value: "))
B = int(input("Enter the B value: "))
C=A / B
print("The remainder of the two values is:", C)

Enter the A value: 45
Enter the B value: 2
The remainder of the two values is: 22.5

# Exercise 8 - Create a code cell to multiply and add numbers

In [19]:
#This a simple arithmetic expression to mutiply then add integers
print ((3*4)+5)

17

# # Exercise 9 - Create a code cell to convert minutes to hours

In [20]:
#write an expression that converts 200 minutes into hours.

minutes = int(input("Enter the minutes value: "))
hours = minutes / 60
print ("The given minutes value is:",minutes)
print ("The converted hour value is:",hours)

Enter the minutes value: 200
The given minutes value is: 200
The converted hour value is: 3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

Objectives:

1. List popular languages that Data Scientists use.
2. List commonly used libraries used by Data Scientists.
3. Comment on Data Science tools.


3 to 5 items covered in this notebook
1. Create Code Cells - The core functionality of Jupyter Notebooks is the ability to run code interactively.
2. Create Markdown Cells - Jupyter Notebooks support Markdown, a lightweight markup language.
3. Learnt Type of Data Science tool	
4. Learnt the various arithmetic operations
5. Learnt the data science languages and libraries

# Exercise 11 - Create a markdown cell to indicate the Author's name

Author
Dr. Sudha Rajesh